In [110]:
import requests
import json
import pandas as pd
import seaborn as sns
import numpy as np

In [193]:
outputs_url = "http://0.0.0.0:8000/api/v1/outputs_elastic/?substance=caffeine&pktype=clearance&final=true"
units_factor = {'ml/min/kg':60 ,'ml/min':float(60/1000), 'ml/h/kg':1,'l/h':1}
units_mapping = {'ml/min/kg':'ml/h/kg','ml/min':'ml/h', 'ml/h/kg':'ml/h/kg','l/h':'l/h'}

In [215]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

def norm_value(df_row):
    factor = units_factor[df_row.unit]
    value = None
    if df_row.value:
        value = df_row.value
    elif df_row.mean:
        value = df_row["mean"]
    elif df_row.median:
        value = df_row["median"]
    if value:
        return float(value) * factor

In [195]:
response = requests.get(outputs_url)

In [196]:
num_pages = response.json()["last_page"]

In [197]:
data = []
for page in range(2,num_pages +1):
    url = outputs_url + f"&page={page}"
    response = requests.get(url)
    data += response.json()["data"]["data"]

In [198]:
flatten_data = [flatten_json(d) for d in data]

In [199]:
df_outputs = pd.DataFrame(flatten_data)

In [224]:
df_outputs["unit"].unique()

array(['ml/min', 'ml/min/kg', 'l/h', 'ml/h/kg', 'l/h/kg',
       'ml/min/1.73m^2'], dtype=object)

In [200]:
individual_ids = set(df_outputs["individual_pk"].dropna())
individual_ids_joined = "__".join([str(int(id)) for id in individual_ids])
df_outputs["individual_pk"] = df_outputs["individual_pk"].fillna(0).astype(int)

In [201]:
individual_ids_joined

'614__615__616__617__618__619__620__621__622__623__624__625__626__627__628__629__630__631__650__651__652__653__654__655__656__657__658__659__660__661__662__663__664__665__666__667__668__669__756__757__758__759__760__761__762__763__764__765__766__767__768__769__770__771__772__773__774__775__776__777__778__779__780__781__782__783__784__785__786__787__803__804__805__806__807__808__809__810__811__812__813__818__819__820__821__822__823__824__825__826__827__828__829__830__831__832__833__834__835__836__837__838__839__840__841__842__843__844__845__846__847__848__849__891__892__893__894__895__896__897__898__899__900__901__902__903__904__905__906__907__908__909__910__911__912__913__914__915__916__917__918__919__920__921__922__923__924__925__926__927__928__929__930__931__932__933__934__935__936__937__938__939__940__941__942__943__944__945__946__947__948__949__950__951__952__953__954__955__956__957__958__959__960__961__962__963__964__965__966__967__968__969__977__978__979__980__981__982__983__984__985__986__987__988__989__990__991__992__993__994__995__996__997__998__999__1000__1001__1002__1003__1004__1005__1006__1007__1008__1009__1010__1011__1012__1013__1014'

In [202]:
response  = requests.get(f"http://0.0.0.0:8000/api/v1/individuals_elastic/?ids={individual_ids_joined}")
num_pages = response.json()["last_page"]
indivdiuals_url  = f"http://0.0.0.0:8000/api/v1/individuals_elastic/?ids={individual_ids_joined}"
data = []
for page in range(2,num_pages +1):
    url = indivdiuals_url + f"&page={page}"
    response = requests.get(url)
    data += response.json()["data"]["data"]

In [203]:
flatten_data = [flatten_json(d) for d in data]
df_individuals = pd.DataFrame(flatten_data)

In [204]:
complete = pd.merge(df_individuals,df_outputs, left_on="pk", right_on="individual_pk")

In [205]:
list(complete.columns)

['characteristica_all_final_0_category',
 'characteristica_all_final_0_choice',
 'characteristica_all_final_0_count',
 'characteristica_all_final_0_ctype',
 'characteristica_all_final_0_cv',
 'characteristica_all_final_0_max',
 'characteristica_all_final_0_mean',
 'characteristica_all_final_0_median',
 'characteristica_all_final_0_min',
 'characteristica_all_final_0_pk',
 'characteristica_all_final_0_sd',
 'characteristica_all_final_0_se',
 'characteristica_all_final_0_unit',
 'characteristica_all_final_0_value',
 'characteristica_all_final_10_category',
 'characteristica_all_final_10_choice',
 'characteristica_all_final_10_count',
 'characteristica_all_final_10_ctype',
 'characteristica_all_final_10_cv',
 'characteristica_all_final_10_max',
 'characteristica_all_final_10_mean',
 'characteristica_all_final_10_median',
 'characteristica_all_final_10_min',
 'characteristica_all_final_10_pk',
 'characteristica_all_final_10_sd',
 'characteristica_all_final_10_se',
 'characteristica_all_final_10_unit',
 'characteristica_all_final_10_value',
 'characteristica_all_final_11_category',
 'characteristica_all_final_11_choice',
 'characteristica_all_final_11_count',
 'characteristica_all_final_11_ctype',
 'characteristica_all_final_11_cv',
 'characteristica_all_final_11_max',
 'characteristica_all_final_11_mean',
 'characteristica_all_final_11_median',
 'characteristica_all_final_11_min',
 'characteristica_all_final_11_pk',
 'characteristica_all_final_11_sd',
 'characteristica_all_final_11_se',
 'characteristica_all_final_11_unit',
 'characteristica_all_final_11_value',
 'characteristica_all_final_12_category',
 'characteristica_all_final_12_choice',
 'characteristica_all_final_12_count',
 'characteristica_all_final_12_ctype',
 'characteristica_all_final_12_cv',
 'characteristica_all_final_12_max',
 'characteristica_all_final_12_mean',
 'characteristica_all_final_12_median',
 'characteristica_all_final_12_min',
 'characteristica_all_final_12_pk',
 'characteristica_all_final_12_sd',
 'characteristica_all_final_12_se',
 'characteristica_all_final_12_unit',
 'characteristica_all_final_12_value',
 'characteristica_all_final_1_category',
 'characteristica_all_final_1_choice',
 'characteristica_all_final_1_count',
 'characteristica_all_final_1_ctype',
 'characteristica_all_final_1_cv',
 'characteristica_all_final_1_max',
 'characteristica_all_final_1_mean',
 'characteristica_all_final_1_median',
 'characteristica_all_final_1_min',
 'characteristica_all_final_1_pk',
 'characteristica_all_final_1_sd',
 'characteristica_all_final_1_se',
 'characteristica_all_final_1_unit',
 'characteristica_all_final_1_value',
 'characteristica_all_final_2_category',
 'characteristica_all_final_2_choice',
 'characteristica_all_final_2_count',
 'characteristica_all_final_2_ctype',
 'characteristica_all_final_2_cv',
 'characteristica_all_final_2_max',
 'characteristica_all_final_2_mean',
 'characteristica_all_final_2_median',
 'characteristica_all_final_2_min',
 'characteristica_all_final_2_pk',
 'characteristica_all_final_2_sd',
 'characteristica_all_final_2_se',
 'characteristica_all_final_2_unit',
 'characteristica_all_final_2_value',
 'characteristica_all_final_3_category',
 'characteristica_all_final_3_choice',
 'characteristica_all_final_3_count',
 'characteristica_all_final_3_ctype',
 'characteristica_all_final_3_cv',
 'characteristica_all_final_3_max',
 'characteristica_all_final_3_mean',
 'characteristica_all_final_3_median',
 'characteristica_all_final_3_min',
 'characteristica_all_final_3_pk',
 'characteristica_all_final_3_sd',
 'characteristica_all_final_3_se',
 'characteristica_all_final_3_unit',
 'characteristica_all_final_3_value',
 'characteristica_all_final_4_category',
 'characteristica_all_final_4_choice',
 'characteristica_all_final_4_count',
 'characteristica_all_final_4_ctype',
 'characteristica_all_final_4_cv',
 'characteristica_all_final_4_max',
 'characteristica_all_final_4_mean',
 'characteristica_all_final_4_median',
 'characteristica_all_final_4_min',
 'characteristica_all_final_4_pk',
 'characteristica_all_final_4_sd',
 'characteristica_all_final_4_se',
 'characteristica_all_final_4_unit',
 'characteristica_all_final_4_value',
 'characteristica_all_final_5_category',
 'characteristica_all_final_5_choice',
 'characteristica_all_final_5_count',
 'characteristica_all_final_5_ctype',
 'characteristica_all_final_5_cv',
 'characteristica_all_final_5_max',
 'characteristica_all_final_5_mean',
 'characteristica_all_final_5_median',
 'characteristica_all_final_5_min',
 'characteristica_all_final_5_pk',
 'characteristica_all_final_5_sd',
 'characteristica_all_final_5_se',
 'characteristica_all_final_5_unit',
 'characteristica_all_final_5_value',
 'characteristica_all_final_6_category',
 'characteristica_all_final_6_choice',
 'characteristica_all_final_6_count',
 'characteristica_all_final_6_ctype',
 'characteristica_all_final_6_cv',
 'characteristica_all_final_6_max',
 'characteristica_all_final_6_mean',
 'characteristica_all_final_6_median',
 'characteristica_all_final_6_min',
 'characteristica_all_final_6_pk',
 'characteristica_all_final_6_sd',
 'characteristica_all_final_6_se',
 'characteristica_all_final_6_unit',
 'characteristica_all_final_6_value',
 'characteristica_all_final_7_category',
 'characteristica_all_final_7_choice',
 'characteristica_all_final_7_count',
 'characteristica_all_final_7_ctype',
 'characteristica_all_final_7_cv',
 'characteristica_all_final_7_max',
 'characteristica_all_final_7_mean',
 'characteristica_all_final_7_median',
 'characteristica_all_final_7_min',
 'characteristica_all_final_7_pk',
 'characteristica_all_final_7_sd',
 'characteristica_all_final_7_se',
 'characteristica_all_final_7_unit',
 'characteristica_all_final_7_value',
 'characteristica_all_final_8_category',
 'characteristica_all_final_8_choice',
 'characteristica_all_final_8_count',
 'characteristica_all_final_8_ctype',
 'characteristica_all_final_8_cv',
 'characteristica_all_final_8_max',
 'characteristica_all_final_8_mean',
 'characteristica_all_final_8_median',
 'characteristica_all_final_8_min',
 'characteristica_all_final_8_pk',
 'characteristica_all_final_8_sd',
 'characteristica_all_final_8_se',
 'characteristica_all_final_8_unit',
 'characteristica_all_final_8_value',
 'characteristica_all_final_9_category',
 'characteristica_all_final_9_choice',
 'characteristica_all_final_9_count',
 'characteristica_all_final_9_ctype',
 'characteristica_all_final_9_cv',
 'characteristica_all_final_9_max',
 'characteristica_all_final_9_mean',
 'characteristica_all_final_9_median',
 'characteristica_all_final_9_min',
 'characteristica_all_final_9_pk',
 'characteristica_all_final_9_sd',
 'characteristica_all_final_9_se',
 'characteristica_all_final_9_unit',
 'characteristica_all_final_9_value',
 'group_name_x',
 'group_pk_x',
 'name',
 'pk_x',
 'study_name',
 'study_pk',
 'cv',
 'final',
 'group',
 'group_name_y',
 'group_pk_y',
 'individual',
 'individual_name',
 'individual_pk',
 'interventions_0_name',
 'interventions_0_pk',
 'interventions_1_name',
 'interventions_1_pk',
 'interventions_2_name',
 'interventions_2_pk',
 'interventions_3_name',
 'interventions_3_pk',
 'interventions_4_name',
 'interventions_4_pk',
 'max',
 'mean',
 'median',
 'min',
 'pk_y',
 'pktype',
 'sd',
 'se',
 'substance_name',
 'time',
 'time_unit',
 'tissue',
 'unit',
 'value']

In [206]:
df_individuals

,characteristica_all_final_0_category,characteristica_all_final_0_choice,characteristica_all_final_0_count,characteristica_all_final_0_ctype,characteristica_all_final_0_cv,characteristica_all_final_0_max,characteristica_all_final_0_mean,characteristica_all_final_0_median,characteristica_all_final_0_min,characteristica_all_final_0_pk,...,characteristica_all_final_9_sd,characteristica_all_final_9_se,characteristica_all_final_9_unit,characteristica_all_final_9_value,group_name,group_pk,name,pk,study_name,study_pk
0,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,NaN,NaN,NaN,NaN,control,514,28,623,Abernethy1985,4029248
1,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,2,900,Joeres1988,3371873
2,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,3,901,Joeres1988,3371873
3,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,4,902,Joeres1988,3371873
4,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,5,903,Joeres1988,3371873
5,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,6,904,Joeres1988,3371873
6,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,7,905,Joeres1988,3371873
7,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,8,906,Joeres1988,3371873
8,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,9,907,Joeres1988,3371873
9,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,10,908,Joeres1988,3371873
10,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,11,909,Joeres1988,3371873
11,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,12,910,Joeres1988,3371873
12,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,13,911,Joeres1988,3371873
13,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,14,912,Joeres1988,3371873
14,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy nonsmokers,587,15,913,Joeres1988,3371873
15,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,16,914,Joeres1988,3371873
16,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,17,915,Joeres1988,3371873
17,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,18,916,Joeres1988,3371873
18,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,19,917,Joeres1988,3371873
19,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,20,918,Joeres1988,3371873
20,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,21,919,Joeres1988,3371873
21,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,22,920,Joeres1988,3371873
22,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,NaN,NaN,NaN,NaN,control,514,29,624,Abernethy1985,4029248
23,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,healthy smokers 2,586,23,921,Joeres1988,3371873
24,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,NaN,NaN,NaN,NaN,control,514,30,625,Abernethy1985,4029248
25,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,cirrhosis nonsmokers,589,24,922,Joeres1988,3371873
26,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,NaN,NaN,NaN,NaN,control,514,31,626,Abernethy1985,4029248
27,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,cirrhosis nonsmokers,589,25,923,Joeres1988,3371873
28,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,NaN,NaN,NaN,NaN,control,514,32,627,Abernethy1985,4029248
29,species,homo sapiens,71,group,None,None,None,None,None,4872,...,NaN,NaN,NaN,NaN,cirrhosis nonsmokers,589,26,924,Joeres1988,3371873
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
180,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,5,828,Cheng1990,2328560
181,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,6,829,Cheng1990,2328560
182,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,7,830,Cheng1990,2328560
183,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,8,831,Cheng1990,2328560
184,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,9,832,Cheng1990,2328560
185,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,10,833,Cheng1990,2328560
186,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,11,834,Cheng1990,2328560
187,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,12,835,Cheng1990,2328560
188,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,control,563,13,836,Cheng1990,2328560
189,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,14,837,Cheng1990,2328560
190,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,15,838,Cheng1990,2328560
191,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,16,839,Cheng1990,2328560
192,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,17,840,Cheng1990,2328560
193,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,18,841,Cheng1990,2328560
194,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,19,842,Cheng1990,2328560
195,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,20,843,Cheng1990,2328560
196,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,21,844,Cheng1990,2328560
197,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,22,845,Cheng1990,2328560
198,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,23,846,Cheng1990,2328560
199,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,24,847,Cheng1990,2328560
200,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,25,848,Cheng1990,2328560
201,species,homo sapiens,26,group,None,None,None,None,None,4664,...,NaN,NaN,NaN,NaN,cirrhosis,564,26,849,Cheng1990,2328560
202,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,1,891,Haller2002,12087345
203,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,2,892,Haller2002,12087345
204,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,3,893,Haller2002,12087345
205,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,4,894,Haller2002,12087345
206,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,5,895,Haller2002,12087345
207,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,6,896,Haller2002,12087345
208,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,7,897,Haller2002,12087345
209,healthy,Y,8,group,None,None,None,None,None,4791,...,NaN,NaN,None,None,all,577,8,898,Haller2002,12087345

In [207]:
def get_bodyweight(x):
    row_categories = list(x[x == "weight"].index)
    fields = ["value","mean","median"]
    for field in fields:
        row_choices = [category[:-8]+field for category in row_categories]
        for bodyweight in list(x[row_choices]):
            try:
                if float(bodyweight) > 0:
                    return float(bodyweight)
            except:
                pass
    
    


def get_dosing(x):
    row_categories = list(x[x == "dosing"].index)
    row_choices = [category[:-8]+"value" for category in row_categories]
    
    # x[row_choices]
    return list(x[row_choices].dropna())

In [216]:
df1 = pd.DataFrame()
df1["bodyweight"] = complete.apply(get_bodyweight, axis=1)
df1["norm_value"] = complete.apply(norm_value, axis=1)
df1["norm_unit"] = complete.apply(lambda x: units_mapping[x["unit"]], axis=1)
df1["study"] = complete["study_name"]

In [217]:
#df1["clearance_unit"] = complete["unit"]
#df1["clearance_value"] = complete["value"]
#df1["clearance_mean"] = complete["mean"]

In [220]:
df1[(df1["study"]=="Joeres1988") & (df1["norm_unit"]== "ml/min/kg")]
#df1[(df1["clearance_unit"] == "ml/min/kg")]

#complete.apply(get_bodyweight, axis=1)

Empty DataFrame
Columns: [bodyweight, norm_value, norm_unit, study]
Index: []

In [222]:
df1[(df1["study"]=="Joeres1988")]["norm_unit"].unique()

array(['ml/h'], dtype=object)

In [85]:
df1[df1["bodyweight"].isnull()]

     bodyweight        study
1           NaN   Joeres1988
2           NaN   Joeres1988
3           NaN   Joeres1988
4           NaN   Joeres1988
5           NaN   Joeres1988
6           NaN   Joeres1988
7           NaN   Joeres1988
8           NaN   Joeres1988
9           NaN   Joeres1988
10          NaN   Joeres1988
11          NaN   Joeres1988
12          NaN   Joeres1988
13          NaN   Joeres1988
14          NaN   Joeres1988
15          NaN   Joeres1988
16          NaN   Joeres1988
17          NaN   Joeres1988
18          NaN   Joeres1988
19          NaN   Joeres1988
20          NaN   Joeres1988
21          NaN   Joeres1988
23          NaN   Joeres1988
127         NaN  Parsons1978
128         NaN  Parsons1978
129         NaN  Parsons1978
130         NaN  Parsons1978
131         NaN  Parsons1978
132         NaN  Parsons1978
133         NaN  Parsons1978
134         NaN  Parsons1978
..          ...          ...
319         NaN    Cheng1990
320         NaN    Cheng1990
321         NaN    Cheng1990
322         NaN    Cheng1990
323         NaN    Cheng1990
324         NaN    Cheng1990
325         NaN    Cheng1990
326         NaN    Cheng1990
327         NaN    Cheng1990
328         NaN    Cheng1990
329         NaN    Cheng1990
330         NaN    Cheng1990
331         NaN    Cheng1990
332         NaN    Cheng1990
333         NaN    Cheng1990
334         NaN    Cheng1990
335         NaN    Cheng1990
336         NaN    Cheng1990
337         NaN    Cheng1990
338         NaN    Cheng1990
339         NaN    Cheng1990
340         NaN    Cheng1990
341         NaN    Cheng1990
342         NaN    Cheng1990
343         NaN    Cheng1990
344         NaN    Cheng1990
345         NaN    Cheng1990
346         NaN    Cheng1990
347         NaN    Cheng1990
348         NaN    Cheng1990

[152 rows x 2 columns]

In [151]:
complete[["value","mean","median"]][300:350]

      value  mean median
300  120.77  None   None
301  100.83  None   None
302  180.15  None   None
303  130.51  None   None
304  180.40  None   None
305  280.62  None   None
306  221.01  None   None
307   90.14  None   None
308  150.94  None   None
309   99.40  None   None
310    2.59  None   None
311    1.33  None   None
312    0.97  None   None
313    2.29  None   None
314    None  None   None
315    1.40  None   None
316    2.07  None   None
317    1.12  None   None
318    1.15  None   None
319    2.01  None   None
320    1.58  None   None
321    1.09  None   None
322    1.86  None   None
323    1.31  None   None
324    1.33  None   None
325    1.52  None   None
326    1.03  None   None
327    0.93  None   None
328    1.42  None   None
329    1.49  None   None
330    None  None   None
331    1.32  None   None
332    0.93  None   None
333    0.94  None   None
334    1.24  None   None
335    1.40  None   None
336    0.89  None   None
337    1.20  None   None
338    1.32  None   None
339    1.22  None   None
340    0.94  None   None
341    0.64  None   None
342    0.54  None   None
343    0.90  None   None
344    1.08  None   None
345    0.62  None   None
346    0.40  None   None
347    0.50  None   None
348    None  None   None
349    1.27  None   None

In [227]:
complete[complete["pk_y"]== 7975]

Empty DataFrame
Columns: [characteristica_all_final_0_category, characteristica_all_final_0_choice, characteristica_all_final_0_count, characteristica_all_final_0_ctype, characteristica_all_final_0_cv, characteristica_all_final_0_max, characteristica_all_final_0_mean, characteristica_all_final_0_median, characteristica_all_final_0_min, characteristica_all_final_0_pk, characteristica_all_final_0_sd, characteristica_all_final_0_se, characteristica_all_final_0_unit, characteristica_all_final_0_value, characteristica_all_final_10_category, characteristica_all_final_10_choice, characteristica_all_final_10_count, characteristica_all_final_10_ctype, characteristica_all_final_10_cv, characteristica_all_final_10_max, characteristica_all_final_10_mean, characteristica_all_final_10_median, characteristica_all_final_10_min, characteristica_all_final_10_pk, characteristica_all_final_10_sd, characteristica_all_final_10_se, characteristica_all_final_10_unit, characteristica_all_final_10_value, characteristica_all_final_11_category, characteristica_all_final_11_choice, characteristica_all_final_11_count, characteristica_all_final_11_ctype, characteristica_all_final_11_cv, characteristica_all_final_11_max, characteristica_all_final_11_mean, characteristica_all_final_11_median, characteristica_all_final_11_min, characteristica_all_final_11_pk, characteristica_all_final_11_sd, characteristica_all_final_11_se, characteristica_all_final_11_unit, characteristica_all_final_11_value, characteristica_all_final_12_category, characteristica_all_final_12_choice, characteristica_all_final_12_count, characteristica_all_final_12_ctype, characteristica_all_final_12_cv, characteristica_all_final_12_max, characteristica_all_final_12_mean, characteristica_all_final_12_median, characteristica_all_final_12_min, characteristica_all_final_12_pk, characteristica_all_final_12_sd, characteristica_all_final_12_se, characteristica_all_final_12_unit, characteristica_all_final_12_value, characteristica_all_final_1_category, characteristica_all_final_1_choice, characteristica_all_final_1_count, characteristica_all_final_1_ctype, characteristica_all_final_1_cv, characteristica_all_final_1_max, characteristica_all_final_1_mean, characteristica_all_final_1_median, characteristica_all_final_1_min, characteristica_all_final_1_pk, characteristica_all_final_1_sd, characteristica_all_final_1_se, characteristica_all_final_1_unit, characteristica_all_final_1_value, characteristica_all_final_2_category, characteristica_all_final_2_choice, characteristica_all_final_2_count, characteristica_all_final_2_ctype, characteristica_all_final_2_cv, characteristica_all_final_2_max, characteristica_all_final_2_mean, characteristica_all_final_2_median, characteristica_all_final_2_min, characteristica_all_final_2_pk, characteristica_all_final_2_sd, characteristica_all_final_2_se, characteristica_all_final_2_unit, characteristica_all_final_2_value, characteristica_all_final_3_category, characteristica_all_final_3_choice, characteristica_all_final_3_count, characteristica_all_final_3_ctype, characteristica_all_final_3_cv, characteristica_all_final_3_max, characteristica_all_final_3_mean, characteristica_all_final_3_median, characteristica_all_final_3_min, characteristica_all_final_3_pk, characteristica_all_final_3_sd, characteristica_all_final_3_se, characteristica_all_final_3_unit, characteristica_all_final_3_value, characteristica_all_final_4_category, characteristica_all_final_4_choice, ...]
Index: []

[0 rows x 220 columns]

In [229]:
df_outputs[df_outputs["pk"] ==7975]

,cv,final,group,group_name,group_pk,individual,individual_name,individual_pk,interventions_0_name,interventions_0_pk,...,pk,pktype,sd,se,substance_name,time,time_unit,tissue,unit,value
337,0.94,True,NaN,cirrhosis smokers,588.0,NaN,NaN,0,Dcaf,443.0,...,7975,clearance,0.85,0.20,caffeine,NaN,None,plasma,ml/min/kg,None

In [226]:
complete

,characteristica_all_final_0_category,characteristica_all_final_0_choice,characteristica_all_final_0_count,characteristica_all_final_0_ctype,characteristica_all_final_0_cv,characteristica_all_final_0_max,characteristica_all_final_0_mean,characteristica_all_final_0_median,characteristica_all_final_0_min,characteristica_all_final_0_pk,...,pk_y,pktype,sd,se,substance_name,time,time_unit,tissue,unit,value
0,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,5473,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.81
1,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7888,clearance,None,None,caffeine,NaN,None,plasma,ml/min,97.14
2,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7889,clearance,None,None,caffeine,NaN,None,plasma,ml/min,91.81
3,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7890,clearance,None,None,caffeine,NaN,None,plasma,ml/min,68.19
4,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7891,clearance,None,None,caffeine,NaN,None,plasma,ml/min,67.43
5,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7892,clearance,None,None,caffeine,NaN,None,plasma,ml/min,65.52
6,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7893,clearance,None,None,caffeine,NaN,None,plasma,ml/min,65.14
7,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7894,clearance,None,None,caffeine,NaN,None,plasma,ml/min,59.43
8,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7895,clearance,None,None,caffeine,NaN,None,plasma,ml/min,57.52
9,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7896,clearance,None,None,caffeine,NaN,None,plasma,ml/min,52.57
10,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7897,clearance,None,None,caffeine,NaN,None,plasma,ml/min,52.95
11,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7898,clearance,None,None,caffeine,NaN,None,plasma,ml/min,49.52
12,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7899,clearance,None,None,caffeine,NaN,None,plasma,ml/min,47.62
13,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7900,clearance,None,None,caffeine,NaN,None,plasma,ml/min,40.76
14,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7901,clearance,None,None,caffeine,NaN,None,plasma,ml/min,27.05
15,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7902,clearance,None,None,caffeine,NaN,None,plasma,ml/min,176.00
16,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7903,clearance,None,None,caffeine,NaN,None,plasma,ml/min,132.57
17,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7904,clearance,None,None,caffeine,NaN,None,plasma,ml/min,128.00
18,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7905,clearance,None,None,caffeine,NaN,None,plasma,ml/min,93.71
19,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7906,clearance,None,None,caffeine,NaN,None,plasma,ml/min,88.76
20,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7907,clearance,None,None,caffeine,NaN,None,plasma,ml/min,71.62
21,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7908,clearance,None,None,caffeine,NaN,None,plasma,ml/min,67.05
22,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,5474,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,1.01
23,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7909,clearance,None,None,caffeine,NaN,None,plasma,ml/min,64.38
24,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,5475,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,1.35
25,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7910,clearance,None,None,caffeine,NaN,None,plasma,ml/min,270.00
26,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,5476,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,1.44
27,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7911,clearance,None,None,caffeine,NaN,None,plasma,ml/min,81.90
28,age,None,18,group,None,30.00,26.00,None,23.00,4215,...,5477,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,1.85
29,species,homo sapiens,71,group,None,None,None,None,None,4872,...,7912,clearance,None,None,caffeine,NaN,None,plasma,ml/min,79.62
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
366,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7118,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.88
367,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7132,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.50
368,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7106,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.93
369,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7119,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.64
370,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7133,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.35
371,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7107,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.49
372,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7120,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.45
373,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7134,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.26
374,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7108,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.37
375,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7121,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.26
376,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7135,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.18
377,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7109,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.25
378,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7122,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.34
379,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7136,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.26
380,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7110,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.21
381,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7123,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.26
382,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7137,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.22
383,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7111,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.15
384,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7124,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.31
385,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7138,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,None
386,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7112,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.09
387,species,homo sapiens,26,group,None,None,None,None,None,4664,...,7125,clearance,None,None,caffeine,NaN,None,plasma,ml/min/kg,0.23
388,healthy,Y,8,group,None,None,None,None,None,4791,...,7352,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,1.56
389,healthy,Y,8,group,None,None,None,None,None,4791,...,7353,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,1.18
390,healthy,Y,8,group,None,None,None,None,None,4791,...,7354,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.67
391,healthy,Y,8,group,None,None,None,None,None,4791,...,7355,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.46
392,healthy,Y,8,group,None,None,None,None,None,4791,...,7356,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.81
393,healthy,Y,8,group,None,None,None,None,None,4791,...,7357,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.96
394,healthy,Y,8,group,None,None,None,None,None,4791,...,7358,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.34
395,healthy,Y,8,group,None,None,None,None,None,4791,...,7359,clearance,None,None,caffeine,14.0,h,plasma,ml/min/kg,0.33