In [145]:
import requests
import json
import pandas as pd
import seaborn as sns
import numpy as np
from scipy import stats
import matplotlib.pyplot as plt

In [191]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        #elif type(x) is list:
        #    i = 0
        #    for a in x:
        #        flatten(a, name + str(i) + '_')
        #       i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [192]:
url_base = "http://0.0.0.0:8000/api/v1/characteristica_elastic/?format=json&final=true"
response = requests.get(url_base)
num_pages = response.json()["last_page"]
data = []
for page in range(2,num_pages +1):
    url_current = url_base + f"&page={page}"
    response = requests.get(url_current)
    data += response.json()["data"]["data"]

flatten_data = [flatten_json(d) for d in data]
df = pd.DataFrame(flatten_data)

In [193]:
def results(x):
    records = x.drop(columns=['category', 'final',"ctype"]).to_dict("list") 
    return records

In [194]:
indivduals = df.pivot_table(columns=["category"], index=["individual_pk","individual_name"], aggfunc=results)
groups = df.pivot_table(columns=["category"], index=["group_pk","group_name"], aggfunc=results)

In [195]:
indivduals = indivduals.reset_index()
groups = groups.reset_index()

In [196]:
df_group = pd.DataFrame([flatten_json(row) for row in groups.to_dict("records")])

In [197]:
df_individual = pd.DataFrame([flatten_json(row) for row in indivduals.to_dict("records")])

In [198]:
df = df_group.append(df_individual)

In [199]:
final = df.dropna(axis='columns',how='all')
final.head()

,CYP2D6 genotype_choice,CYP2D6 genotype_count,CYP2D6 genotype_cv,CYP2D6 genotype_group_name,CYP2D6 genotype_group_pk,CYP2D6 genotype_individual_name,CYP2D6 genotype_individual_pk,CYP2D6 genotype_max,CYP2D6 genotype_mean,CYP2D6 genotype_median,...,weight_individual_name,weight_individual_pk,weight_max,weight_mean,weight_median,weight_min,weight_sd,weight_se,weight_unit,weight_value
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[None],[nan],[nan],[73.2],[nan],[nan],[nan],[3.2],[kg],[nan]
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[None],[nan],[78.0],[58.0],[nan],[41.0],[nan],[3.0],[kg],[nan]
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,[None],[nan],[nan],[68.0],[nan],[nan],[nan],[4.0],[kg],[nan]

In [202]:
final.to_csv("test", sep="\t" )

In [201]:
final[["group_name","individual_name"]]

      group_name individual_name
0            all             NaN
1            all             NaN
2            all             NaN
3            all             NaN
4        control             NaN
5           t2dm             NaN
6            all             NaN
7        control             NaN
8      mild_t2dm             NaN
9    severe_t2dm             NaN
10           all             NaN
11       control             NaN
12          t2dm             NaN
13           all             NaN
14          t2dm             NaN
15           all             NaN
16          t2dm             NaN
17       control             NaN
18           all             NaN
19          t2dm             NaN
20       control             NaN
21           all             NaN
22       control             NaN
23          t2dm             NaN
24       control             NaN
25           all             NaN
26       control             NaN
27       malaria             NaN
28            S3             NaN
29           all             NaN
..           ...             ...
213          NaN               7
214          NaN               8
215          NaN               9
216          NaN              10
217          NaN              11
218          NaN              12
219          NaN              13
220          NaN               1
221          NaN               2
222          NaN               3
223          NaN               4
224          NaN               5
225          NaN               6
226          NaN               7
227          NaN               8
228          NaN               9
229          NaN              10
230          NaN              11
231          NaN               1
232          NaN               2
233          NaN               3
234          NaN               4
235          NaN               5
236          NaN               6
237          NaN               7
238          NaN               8
239          NaN               9
240          NaN              10
241          NaN              11
242          NaN              12

[382 rows x 2 columns]

In [170]:
test = [indivduals.loc[0]["oral contraceptives"] for _ in range(2) ]

In [171]:
test

[{'choice': 'Y',
  'count': 1,
  'cv': nan,
  'group_name': None,
  'group_pk': nan,
  'individual_name': '1',
  'individual_pk': 596.0,
  'max': nan,
  'mean': nan,
  'median': nan,
  'min': nan,
  'sd': nan,
  'se': nan,
  'unit': None,
  'value': nan},
 {'choice': 'Y',
  'count': 1,
  'cv': nan,
  'group_name': None,
  'group_pk': nan,
  'individual_name': '1',
  'individual_pk': 596.0,
  'max': nan,
  'mean': nan,
  'median': nan,
  'min': nan,
  'sd': nan,
  'se': nan,
  'unit': None,
  'value': nan}]