In [1]:
from itertools import repeat
data = {
            "name": "D_ENX2",
            "substance": "enoxacin",
            "time": "0||24||48||72",
            "time_unit": "h",
            "route": "oral||bla||hs",
            "value": 200.0,
            "unit": "mg"
        }

In [40]:
def number_characterististica(data):
    for key, value in data.items():
        values = value.split('||')
        
        if len(values) > 1:
            return len(values)

def list_chara(data):
    n = number_characterististica(data)
    datan = {}
    for key, value in data.items():
        #if type(value) == str: 
        try:
            values = value.split('||')
            values = list(map(str.strip, values))
            
        except AttributeError:
            values = [value]
        if len(values) == 1 :
            values = values * n
            
        datan[key] = values
    return datan

In [41]:
import pandas as pd
print(data)
pd.DataFrame(list_chara(data)).to_dict('records')

{'category': 'oral contraceptives', 'choice': '3 Y || 1 N'}

[{'category': 'oral contraceptives', 'choice': '3 Y'},
 {'category': 'oral contraceptives', 'choice': '1 N'}]

In [32]:
data = {
                "category": "oral contraceptives",
                "choice": "3 Y || 1 N"
            }

In [33]:
pd.DataFrame(list_chara(data)).to_dict('records')

[{'category': 'oral contraceptives'}, {'category': 'oral contraceptives'}]

In [43]:
list_chara(data)

{'category': ['oral contraceptives'], 'choice': ['3 Y', '1 N']}

In [42]:
        def number_raw(data):
            for key, value in data.items():
                values = value.split('||')
                return len(values)

        def list_chara(data):
            n = number_raw(data)
            data_n = {}
            for key, value in data.items():
                # if type(value) == str:
                try:
                    values = value.split('||')
                    values = list(map(str.strip, values))
                except AttributeError:
                    values = [value]
                if len(values) == 1:
                    values = values * n
                data_n[key] = values
            return data_n

In [22]:

individuals =  [
            {
                "name": "col==subject",
                "group": "col==group",
                "source": "/home/janekg89/Develop/Pycharm_Projects/pkdb/data/Master/Studies/Akinyinka2000/Akinyinka2000_Tab1.csv",
                "format": "TSV",
                "figure": "/home/janekg89/Develop/Pycharm_Projects/pkdb/data/Master/Studies/Akinyinka2000/Akinyinka2000_Tab1.png",
                "characteristica": [
                    {
                        "category": "weight",
                        "value": "col==weight",
                        "unit": "kg"
                    },
                    {
                        "category": "age",
                        "value": "col==age",
                        "unit": "yr"
                    },
                    {
                        "category": "sex",
                        "choice": "col==sex"
                    }
                ]}]

In [27]:
import pandas as pd
import copy
def mapping_parser(mapping,table):

    resulting_keys = []
    mapping[]
    for key, value in mapping.items():
        if "==" in value:
            values = value.split("==")
            if not values[0].strip() == "col":
                raise Exception(f"Value provided does not match pattern 'col==<file_mapping>', with key:{key} and  value:{values}")
            resulting_keys.append(values[1].strip())


        else:
            table[key] = value
            resulting_keys.append(key)

    #resulting_data = table[resulting_keys].to_dict("records")
    #return resulting_data
    print(table)
    return table[resulting_keys]

In [ ]:
def mapping_parser(mapping,table):
    category = mapping["category"]
    value

In [28]:
unpacked_individuals = []
ind =copy.deepcopy(individuals)
for individual in ind:
    src =  individual.pop("source")  # todo: upload data first and then have the data saved here not the path.
    characteristica_mapping =  individual.pop("characteristica")
    delimiter = "\t"
    individual_mapping =  individual
    table = pd.read_csv(src, delimiter=delimiter, keep_default_na=False)
    for characteristica_single_mapping in characteristica_mapping:
        characteristica_table = mapping_parser(characteristica_single_mapping,table)
    #individuals_table = mapping_parser(individual_mapping,table)
    #individuals_table["characteristica"] = characteristica_table.to_dict('records')
    #unpacked_individuals += individuals_table.to_dict('recods')

            study subject   status  age gender  weight  t_half    AUC  px_caf  \
0   Akinyinka2000      1C  control   40      M      60     5.7   47.8    0.60
1   Akinyinka2000      2C  control   28      M      38     7.0   76.2    0.54
2   Akinyinka2000      3C  control   39      M      68     8.5   69.1    0.25
3   Akinyinka2000      4C  control   42      M      82     4.1   19.5    0.53
4   Akinyinka2000      5C  control   37      F      56    14.8   96.3    0.30
5   Akinyinka2000      6C  control   23      M      52    10.0   86.7    0.33
6   Akinyinka2000      7C  control   33      M      54     7.4   28.2    0.43
7   Akinyinka2000      8C  control   18      M      56     4.2   47.3    0.63
8   Akinyinka2000      9C  control   29      M      58     6.6   43.2    0.62
9   Akinyinka2000     10C  control   32      M      74     4.0   42.0    0.53
10  Akinyinka2000      1M  malaria   15      M      58     7.1   51.6    0.42
11  Akinyinka2000      2M  malaria   16      M      44     6.0   66.4    0.41
12  Akinyinka2000      3M  malaria   17      F      75    24.4  150.6    0.13
13  Akinyinka2000      4M  malaria   18      M      46     7.3   45.7    0.52
14  Akinyinka2000      5M  malaria   12      F      25     8.5   25.1    0.18
15  Akinyinka2000      6M  malaria   18      M      58     5.5   25.8    0.35
16  Akinyinka2000      7M  malaria   15      F      35     8.2   64.9    0.55
17  Akinyinka2000      8M  malaria   20      F      45     8.0   88.4    0.49
18  Akinyinka2000      9M  malaria   15      F      35     9.7  102.1    0.10
19  Akinyinka2000     10M  malaria   12      M      32    10.2  126.3    0.22

      Cl     T parasite_counts category unit
0   1.74    NA              NA   weight   kg
1   1.29    NA              NA   weight   kg
2   1.06    NA              NA   weight   kg
3   3.12    NA              NA   weight   kg
4   0.95    NA              NA   weight   kg
5   1.11    NA              NA   weight   kg
6   3.27    NA              NA   weight   kg
7   1.89    NA              NA   weight   kg
8   2.00    NA              NA   weight   kg
9   2.05    NA              NA   weight   kg
10  1.67  37.6             8.8   weight   kg
11  1.71  39.1           109.1   weight   kg
12  0.44  39.7            65.6   weight   kg
13  2.38  37.2            29.3   weight   kg
14  7.97  38.5           180.0   weight   kg
15  3.34  36.6          1382.7   weight   kg
16  2.20  38.4            95.6   weight   kg
17  1.26  37.8            33.4   weight   kg
18  1.40  38.4            65.1   weight   kg
19  1.24  38.0            56.5   weight   kg
            study subject   status  age gender  weight  t_half    AUC  px_caf  \
0   Akinyinka2000      1C  control   40      M      60     5.7   47.8    0.60
1   Akinyinka2000      2C  control   28      M      38     7.0   76.2    0.54
2   Akinyinka2000      3C  control   39      M      68     8.5   69.1    0.25
3   Akinyinka2000      4C  control   42      M      82     4.1   19.5    0.53
4   Akinyinka2000      5C  control   37      F      56    14.8   96.3    0.30
5   Akinyinka2000      6C  control   23      M      52    10.0   86.7    0.33
6   Akinyinka2000      7C  control   33      M      54     7.4   28.2    0.43
7   Akinyinka2000      8C  control   18      M      56     4.2   47.3    0.63
8   Akinyinka2000      9C  control   29      M      58     6.6   43.2    0.62
9   Akinyinka2000     10C  control   32      M      74     4.0   42.0    0.53
10  Akinyinka2000      1M  malaria   15      M      58     7.1   51.6    0.42
11  Akinyinka2000      2M  malaria   16      M      44     6.0   66.4    0.41
12  Akinyinka2000      3M  malaria   17      F      75    24.4  150.6    0.13
13  Akinyinka2000      4M  malaria   18      M      46     7.3   45.7    0.52
14  Akinyinka2000      5M  malaria   12      F      25     8.5   25.1    0.18
15  Akinyinka2000      6M  malaria   18      M      58     5.5   25.8    0.35
16  Akinyinka2000      7M  malaria   15      F      35     8.2   64.9    0.55
17  Akinyinka2000      8M  malaria   20      F      45     8.0   88.4    0.49
18  Akinyinka2000      9M  malaria   15      F      35     9.7  102.1    0.10
19  Akinyinka2000     10M  malaria   12      M      32    10.2  126.3    0.22

      Cl     T parasite_counts category unit
0   1.74    NA              NA      age   yr
1   1.29    NA              NA      age   yr
2   1.06    NA              NA      age   yr
3   3.12    NA              NA      age   yr
4   0.95    NA              NA      age   yr
5   1.11    NA              NA      age   yr
6   3.27    NA              NA      age   yr
7   1.89    NA              NA      age   yr
8   2.00    NA              NA      age   yr
9   2.05    NA              NA      age   yr
10  1.67  37.6             8.8      age   yr
11  1.71  39.1           109.1      age   yr
12  0.44  39.7            65.6      age   yr
13  2.38  37.2            29.3      age   yr
14  7.97  38.5           180.0      age   yr
15  3.34  36.6          1382.7      age   yr
16  2.20  38.4            95.6      age   yr
17  1.26  37.8            33.4      age   yr
18  1.40  38.4            65.1      age   yr
19  1.24  38.0            56.5      age   yr
            study subject   status  age gender  weight  t_half    AUC  px_caf  \
0   Akinyinka2000      1C  control   40      M      60     5.7   47.8    0.60
1   Akinyinka2000      2C  control   28      M      38     7.0   76.2    0.54
2   Akinyinka2000      3C  control   39      M      68     8.5   69.1    0.25
3   Akinyinka2000      4C  control   42      M      82     4.1   19.5    0.53
4   Akinyinka2000      5C  control   37      F      56    14.8   96.3    0.30
5   Akinyinka2000      6C  control   23      M      52    10.0   86.7    0.33
6   Akinyinka2000      7C  control   33      M      54     7.4   28.2    0.43
7   Akinyinka2000      8C  control   18      M      56     4.2   47.3    0.63
8   Akinyinka2000      9C  control   29      M      58     6.6   43.2    0.62
9   Akinyinka2000     10C  control   32      M      74     4.0   42.0    0.53
10  Akinyinka2000      1M  malaria   15      M      58     7.1   51.6    0.42
11  Akinyinka2000      2M  malaria   16      M      44     6.0   66.4    0.41
12  Akinyinka2000      3M  malaria   17      F      75    24.4  150.6    0.13
13  Akinyinka2000      4M  malaria   18      M      46     7.3   45.7    0.52
14  Akinyinka2000      5M  malaria   12      F      25     8.5   25.1    0.18
15  Akinyinka2000      6M  malaria   18      M      58     5.5   25.8    0.35
16  Akinyinka2000      7M  malaria   15      F      35     8.2   64.9    0.55
17  Akinyinka2000      8M  malaria   20      F      45     8.0   88.4    0.49
18  Akinyinka2000      9M  malaria   15      F      35     9.7  102.1    0.10
19  Akinyinka2000     10M  malaria   12      M      32    10.2  126.3    0.22

      Cl     T parasite_counts category unit
0   1.74    NA              NA      sex   yr
1   1.29    NA              NA      sex   yr
2   1.06    NA              NA      sex   yr
3   3.12    NA              NA      sex   yr
4   0.95    NA              NA      sex   yr
5   1.11    NA              NA      sex   yr
6   3.27    NA              NA      sex   yr
7   1.89    NA              NA      sex   yr
8   2.00    NA              NA      sex   yr
9   2.05    NA              NA      sex   yr
10  1.67  37.6             8.8      sex   yr
11  1.71  39.1           109.1      sex   yr
12  0.44  39.7            65.6      sex   yr
13  2.38  37.2            29.3      sex   yr
14  7.97  38.5           180.0      sex   yr
15  3.34  36.6          1382.7      sex   yr
16  2.20  38.4            95.6      sex   yr
17  1.26  37.8            33.4      sex   yr
18  1.40  38.4            65.1      sex   yr
19  1.24  38.0            56.5      sex   yr

KeyError: "['sex'] not in index"